# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if CIRQUE_DONGLE

config ZMK_KEYBOARD_NAME
    default "cirque"

config ZMK_SPLIT_ROLE_CENTRAL
     default y

config DT_HAS_CIRQUE_PINNACLE_ENABLED
    default y

config ZMK_USB
    default y

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
